

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,200&family=Nunito:ital,wght@0,300;1,300&family=Updock&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,200&family=Nunito:ital,wght@1,200&family=Updock&display=swap');
.body {
  
  margin:0;
  
  
}




.wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 5px;
  grid-auto-rows: minmax(100px, auto);
  width: min-content;
  margin-left: 200px;
  padding: center;
}
.one {
  grid-column: 1 ;
  grid-row: 1/5;
}
.two {
  grid-column: 3;
  grid-row: 4/5;
}
.three {
  grid-column: 2;
  grid-row: 3 / 5;
}
.four {
  grid-column: 3;
  grid-row: 3;
}
.five {
  grid-column: 2;
  grid-row: 4;
}
.six {
  grid-column: 3;
  grid-row: 4;
}



.hoverable{
    display:inline-block;
    backface-visibility: hidden;
    vertical-align: middle;
    position:relative;
    box-shadow: 0 0 1px rgba(0,0,0,0);
    flood-color: translateZ(0);
    transition-duration: .3s;
    transition-property:transform;
  }
  
  .hoverable:before{
    position:absolute;
    pointer-events: none;
    z-index:-1;
    content: '';
    top: 100%;
    left: 5%;
    height:10px;
    width:90%;
    opacity:0;
    background: -webkit-radial-gradient(center, ellipse, rgba(255, 255, 255, 0.35) 0%, rgba(255, 255, 255, 0) 80%);
    background: radial-gradient(ellipse at center, rgba(255, 255, 255, 0.35) 0%, rgba(255, 255, 255, 0) 80%);
    /* W3C */
    transition-duration: 0.3s;
    transition-property: transform, opacity;
  }
  
  .hoverable:hover, .hoverable:active, .hoverable:focus{
    transform: translateY(-5px);
  }
  .hoverable:hover:before, .hoverable:active:before, .hoverable:focus:before{
    opacity: 1;
    transform: translateY(-5px);
  }
  
  
  
  @keyframes bounce-animation {
    16.65% {
      -webkit-transform: translateY(8px);
      transform: translateY(8px);
    }
  
    33.3% {
      -webkit-transform: translateY(-6px);
      transform: translateY(-6px);
    }
  
    49.95% {
      -webkit-transform: translateY(4px);
      transform: translateY(4px);
    }
  
    66.6% {
      -webkit-transform: translateY(-2px);
      transform: translateY(-2px);
    }
  
    83.25% {
      -webkit-transform: translateY(1px);
      transform: translateY(1px);
    }
  
    100% {
      -webkit-transform: translateY(0);
      transform: translateY(0);
    }
  }
  
  .bounce {
    animation-name: bounce-animation;
    animation-duration: 2s;
  }
  
  
  
  /*everything below here is just setting up the page, so dont worry about it */
  
  
  /*@media (min-width: 768px) {
    .navbar{
      text-align: center !important;
      float: none;
      display: inline-block;
      font-size: 1.3vw;
    }
  }*/
  html{
    margin: none;

    
  }
  
  body {
    background-color:   rgb(230, 216, 216);
    /*rgb(186, 190, 207)*/ /*bleu mauve
    /*rgb(163, 145, 165)*/ /*mauve
    /*rgb(230, 216, 216)*/ /*rosé
    /*rgb(186, 194, 207)*/ /*bleu 
    /*rgb(145, 164, 165)*/ /*vert
    /*rgb(224, 223, 221)*/ /*orange claire*/
    /*rgb(116, 110, 99)*/ /*brun*/

    
    
    color: white;
    
        
        font-weight: 400;
        line-height: 1.5;
    
        word-wrap: break-word;
          -webkit-hyphens: auto;
           -moz-hyphens: auto;
                  hyphens: auto;  
    
  }



  ul{
    list-style-type: none;
  }

  .hautdepage{

    display:flex;
    justify-content: center;
    height: 600px;

  }


  .titrepage{
    

    display: flex;
    flex-direction:row;
    justify-content: center;
    margin-top: 200px;
   
   
    
    
    
    
  }



  .titrepage2{
    

    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-right: 200px;
    
    
    
    padding-top: 0;
    
    
  }


.titrepage h1{
    
    font-size: 4rem;
    font-family: 'Updock',cursive;
    position: absolute;
    margin-bottom: 100px;
        
}

.titrepage2 h1{
    
    font-size: 2.5rem;
    font-family: 'Updock',cursive;    
}

.LeMenu{
  margin-left: 10px;
 justify-content: center;
}
  
.LeMenu a{
  margin-right: 30px;
  

}



.container-fluid{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  
}

.droppo:hover .menu{
  display: flex;

}



@media screen and (max-width: 1500px) {
  .menu {
    display: none;
    flex-direction: column;
    margin-left: 30px;
    font-weight: 1000;
    font-size: 1rem;
   justify-content: center;
   
  
  }
  


  .navbar {
    
  
   
   }
}



.menu img{
  width: 30px;
  margin-right: 5px;
}

button{
  background-color:   rgb(230, 216, 216);

  color: ;
}

button a{
  margin: 5px;
  
}


  
  nav {
    display: flex;
    justify-content: center;
    flex-direction: row;
    position: sticky;
    width: 100%;
    
    overflow: hidden;
    top: 0;
    z-index: 42;
   
    text-transform:uppercase;
    
    padding-top: 0;
    padding-bottom: 50px;
    background-color: #d8cccc;
    /*#a79d9d*/
    margin-right: 100px;
    list-style: none;

    /*border-bottom: solid black;
    border-bottom-width:thin ;
    width: 60%;*/

   }

   .Contact{
     display: flex;
     flex-direction: row ;
     margin-left:100px;
     
   }

   

   li {
    margin-left: 3em;
    margin-right: 3em;
    display: inline;
    list-style: none;
    }

  a{
    transition: .5s color ease-in-out; 
    color: rgb(57, 59, 61);
    text-decoration:  none;
    list-style: none;
    font-size: larger;
  }
  a:hover{
      color:rgb(57, 59, 61);
  }
  
  

/* foot  */

footer{
  display: flex;
  justify-content: center; 
  margin-bottom: 10px;
  padding: 4%;
  width: 100%;
  background-color: #a79d9d;
  height: 50px;

}

.copyright{ 
  float: right;
  margin-right: 20%;
  margin-bottom: 100px;
}

.under{
  border-top: solid black;
  border-top-width: thin;
  
  width: 60%;
  margin-left: 20%;
  
  text-align: center;
  
}


/* a propos de l'accueil */
  


*,*:after,*:before {
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
	        box-sizing: border-box;
	margin: 0;
	padding: 0;
}



img {
	height: auto;
	width: 400px;
}







.site_wrapper {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 50px;
    margin-top: 50px;
    margin-left: none;
    margin-right: none;
    width: 1000px;
   
   
    
	
}


.propos{
  
  margin-top:30px;
  
  
}

.accueil{
  display:flex;
  flex-direction: row; 
  margin-left: 15%;
  margin-right: 25%;
  margin-top: 300px;
  margin-bottom: 400px;

  
}

.Apropos{
  display: grid;
  
  margin-top: 80px;
  margin-bottom: 80px;
  
  margin-left: 15%;
  margin-right: 15%;
  
}

.section1{
  background-color: #c7b9b9;
  width: 100%;
  padding-top: 100px;
  padding-bottom: 100px;
 
  
}
aside{
  height: 30px;
  background-color:  #c7b9b9;
  opacity: 0.80;
  position: sticky;
  top: 70px;
  overflow: hidden;
  z-index: 41;
}

.section2{
  
  width: 100%;
  padding-top: 20px;
  
}


.Apropos img{

  box-shadow:4px 3px 2px black;
  max-width: 600px;
  height: 450px;
}
.vertical-line{
  border-left: 2px solid #000;
  display: inline-block;
  height: 100%;
  margin: 0 20px;
}

.Horiz-line{
  border-left: 2px solid #000;
  display: inline-block;
  height: 30px;
  margin: 0 20px;
}

.propos{
  
  
   
  font-size: medium;
  margin-left: 5%;


}

.section3{
  background-color:#9c9292 ;
  width: 100%;
  padding-top: 100px;
  padding-bottom: 100px;
 
  
}
.Témoignage{
  display: grid;
  
  margin-top: 200px;
  
  margin-left: 15%;
  margin-right: 15%;
  margin-bottom: 300px;

  background-color: rgb(230, 216, 216);
  border-style: solid;
  border-color: rgb(139, 125, 125);

}

.Témoignagetext{
  margin: 10%;

}

.soutenir{
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #c7b9b9;
  width: 100%;
  padding-top: 100px;
  padding-bottom: 100px;
}

.card{
  
  margin-bottom: 20px;
  width: 100%;
  display: flex;
  justify-content: center;
  

}


/* toutes les cartes*/
.cards{
  
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  justify-content: center;
  
  

}



.titles{
  display: flex;
  flex-direction: row;
  font-size: 1.5rem;
  text-align: center;
  text-transform : capitalize;
}
.titles3{  /*témoignages*/

  display: flex;
  flex-direction: row;
  margin-top:15px ;
  justify-content: center;
  text-align: center;
  font-size: 1.5rem;
  text-transform : capitalize;
}
.titles4{  /*comment soutenir l'oeuvre */
  color: black;
  margin-top:15px ;
  margin-bottom:25px;
  text-align: center;
  font-size: 1.5rem;
  text-transform : capitalize;
}




.titles5{  /*comment soutenir l'oeuvre */
  
  margin-top:15px ;
  margin-bottom:25px;
  text-align: center;
  font-size: 1.5rem;
  text-transform : capitalize;
}



.resources{

  width: 70%;
  margin-left: 20%;
  margin-top: 100px;
  margin-bottom: 100px;

  background-color: rgb(230, 216, 216);
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: wrap;
  
}

.resources p{
  color: #000;
  font-size: 30px;
  margin-bottom: 40px;
  margin: 15%;
  font-weight: 400;
  

}

.resources h3{
  font-size: 30px;
  font-family: 'Nunito', sans-serif;
  margin-bottom:30px ;
  text-decoration: underline 1px;

}

.video{
  
  margin: 15px;
  margin-bottom: 100px;

  
  
}

.video h5{
 /* background-color: #6977af;*/
  border: solid black 2px;
  opacity: 0.6;
  width: 320px;
  

}

.lesVideos{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}



section{
    display: flex;
    justify-content: center;
    

}

.site__info {
	clear: both;
	display: block;
	font-variant: small-caps;
	letter-spacing: 2px;
	padding-top: 1.5em;
	padding-bottom: 1.5em;
	text-align: center;
}


li {
    color: #f8f8f8;
    display: inline;
    list-style: none;
    margin-bottom: 0;
    padding-right: 1em;

    font-size: 0.85em;
    font-variant: small-caps;
    letter-spacing: 1px;

    
    }
    li:not(:last-child):after {
        content: "\25cf";
        font-style: normal;
        list-style: none;
        position: relative;
        color: rgba(white, 0.25);
        /*right: -0.6em;*/
    }
        
    li a {
            color: #f8f8f8;
            list-style: none;
        }





/*les pages des articles____________________________________________*/

.lesArticles{ 
  display:flex;
  flex-direction: column;
  justify-content: center;
margin-top: 40px;

}

.contenue{
  
  
  width:1000px ;
  display: flex;
  justify-content: center;
 
  }
/*texte et logo______________________________________________________________*/


h3{

  font-family: 'Updock',cursive;
  text-transform : capitalize;
  font-size: 45px;
  font-weight: 100;
  color: black;

}

.page-title {
  opacity: .75 !important;
  margin-bottom: 30px;
  margin-left: 30%;
  display: flex;
  justify-content: center;
  font-family: 'Updock',cursive;
  text-transform : capitalize;
  font-size: 35px;
  width: 500px;
}
.page-title img{
  width: 100px;
}
p{
  font-family: 'Nunito', sans-serif;
}
.propos p{
   color: black;
   font-size: 20px;
   font-family : 'Nunito', sans-serif;
   text-align: :right;
}

.propos{
  display: flex;
  flex-direction:row ;}

.propos h2{
  margin-top: 25%;
  margin-right: 40px;
  /*font-family: 'Updock',cursive;*/
  font-size: 1.6rem;
  color: black;
  text-transform: uppercase;
  writing-mode: vertical-rl;
  text-orientation: upright;
}
.titles2{
  float: left;
  width: 500px;
  font-size: 1.5rem;
  margin-top: 40px;
  margin-right: 60px;
  color: black;
  text-transform: uppercase;
  writing-mode: vertical-rl;
  text-orientation: upright;
}
.Témoignage p{
  color: black;
  font-size: 19px;
  font-family : 'Nunito', sans-serif;
  text-align: :right;
}

.soutenir p{
  color: black;
  font-size: 19px;
  font-family : 'Nunito', sans-serif;
  text-align: :right;
}


.wrap a:hover{
    color: white;
    
}
.wrap a{
  margin-right: 20px;
}
/*  menu _______________________________________________________________*/
.card2{
  
  margin-bottom: 20px;
  width: 100%;

}


/* tout le menu*/
.cards2{
  
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: center;
  /*margin-right:60% ;*/
  position: sticky;
  overflow: hidden;
  top: 90px;
  z-index: 42;
  width: 100%;

}




.wrap3
{
  margin:5px auto 0 auto;
  width:100%;
  height: 60%;
  display:flex;
  
  align-items:space-around;
  max-width:1200px;
  text-align: center;
 
}

.tile3
{
  width:115px;
  height: 60px;
  margin:5px;
  background-color:#a79d9d #9c9292;
  /*#a79d9d*/
  display:inline-block;
  flex-direction: column;
  flex-wrap: nowrap;
  background-size:cover;
  position: relative;
  cursor:pointer;
  transition: all 0.4s ease-out;
  /*box-shadow: 0px 25px 77px -17px rgba(0,0,0,0.44);*/
  border: solid 2px #000;

  overflow:hidden;
  color:white;
  
  
}

.tile3 img
{
  height:100%;
  width:100%;
  position:absolute;
  top:0;
  left:0;
  z-index:0;
  transition: all 0.4s ease-out;
}
.tile3 .text
{
/*   z-index:99; */
  position:absolute;
  padding:10px;
  height:calc(100% - 60px);
  display: flex;
  flex-direction: row;
}

.text .a
{
  
  font-size: 0.6rem;
  
}
.tile3 h1
{
 
  margin:0;
  text-shadow: 2px 2px 10px rgba(0,0,0,0.3);
}
.tile3 h2
{

  margin:10px 0 0 0;
  font-style:italic;
   transform: translateX(200px);
}
.tile3 p
{
  font-weight:200;
  
  line-height: 25px;
/*   opacity:0; */
  transform: translateX(-200px);
  transition-delay: 0.2s;
  color: #fff;
}
.animate-text
{
  opacity:0;
  transition: all 0.6s ease-in-out;
  font-size: 1rem;
}
.tile3:hover
{
  width:100%;
  height: 80px;
  /*opacity: 0.5;*/
  

/*   background-color:#99aeff; */
/*box-shadow: 0px 35px 77px -17px rgba(0,0,0,0.64);*/
  transform:scale(1.05);
}


@media (max-width: 1000px) {

  .tile3 .text{
    flex-direction: column;
  }

  .tile3:hover{
    width:20%;
    height: 250px;
 }


}


.tile3:hover img
{
  opacity: 0.2;
}
.tile2:hover .animate-text
{
  transform:translateX(0);
  opacity:1;
}


.dots
{
  position:absolute;
  bottom:20px;
  right:30px;
  margin: 0 auto;
  width:30px;
  height:30px;
  color:currentColor;
  display:flex;
  flex-direction:column;
  align-items:center;
  justify-content:space-around;
  
}

.dots span
{
    width: 5px;
    height:5px;
    background-color: currentColor;
    border-radius: 50%;
    display:block;
  opacity:0;
  transition: transform 0.4s ease-out, opacity 0.5s ease;
  transform: translateY(30px);
 
}

.tile3:hover span
{
  opacity:1;
  transform:translateY(0px);
}

.dots span:nth-child(1)
{
   transition-delay: 0.05s;
}
.dots span:nth-child(2)
{
   transition-delay: 0.1s;
}
.dots span:nth-child(3)
{
   transition-delay: 0.15s;
}
/*  Box soutenir_______________________________________________________________*/
.wrap2
{
  margin:50px auto 0 auto;
  width:60%;
  height: 100%;
  display:flex;
  align-items:space-around;
  
  text-align: center;
 
}

.tile2
{
  width:100%;
  height:fit-content;
  margin:0px;
  background-color:#464853;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  background-size:cover;
  position: relative;
  cursor:pointer;
  transition: all 0.4s ease-out;
  box-shadow: 0px 25px 77px -17px rgba(0,0,0,0.44);
  border-radius: 40px;
  overflow: hidden;
  color:white;
  
  
  
}


.tile2 .text
{
  z-index:99; 
  position:absolute;
  padding:10%;
  height:calc(100% - 60px);
}
.tile2 h1
{
 
  margin:0;
  text-shadow: 2px 2px 10px rgba(0,0,0,0.3);
}
.tile2 h2
{

  margin:10px 0 0 0;
  font-style:italic;
   transform: translateX(200px);
}
.tile2 p 
{
  font-weight:300;
  margin: 5%;
  line-height: 25px;
/*   opacity:0; */
  transform: translateX(-200px);
  transition-delay: 0.2s;
  color: #fff;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.tile2 a{
  font-weight:300;
  transform: translateX(-200px);
  transition-delay: 0.2s;
  color: #fff;

}
.animate-text
{
  opacity:0;
  transition: all 0.6s ease-in-out;
}


.tile2:hover
{
  width:100%;
  height: 409px;;

/*   background-color:#99aeff; */
  box-shadow: 0px 35px 77px -17px rgba(0,0,0,0.64);
  transform:scale(1.05);
}
.tile2:hover img
{
  opacity: 0.2;
}
.tile2:hover .animate-text
{
  transform:translateX(0);
  opacity:1;
}


.dots
{
  position:absolute;
  bottom:20px;
  right:30px;
  margin: 0 auto;
  width:30px;
  height:30px;
  color:currentColor;
  display:flex;
  flex-direction:column;
  align-items:center;
  justify-content:space-around;
  
}

.dots span
{
    width: 5px;
    height:5px;
    background-color: currentColor;
    border-radius: 50%;
    display:block;
  opacity:0;
  transition: transform 0.4s ease-out, opacity 0.5s ease;
  transform: translateY(30px);
 
}

.tile2:hover span
{
  opacity:1;
  transform:translateY(0px);
}

.dots span:nth-child(1)
{
   transition-delay: 0.05s;
}
.dots span:nth-child(2)
{
   transition-delay: 0.1s;
}
.dots span:nth-child(3)
{
   transition-delay: 0.15s;
}




/*  Box Index_______________________________________________________________*/


.wrap
{
  margin:50px auto 0 auto;
  width:100%;
  display:flex;
  
  align-items:space-around;
  max-width:1200px;
  text-align: center;
}

.tile
{
  width:380px;
  height:380px;
  margin:10px;
  background-color:#6977af;
  display:inline-block;
  flex-wrap: wrap;
  background-size:cover;
  position: relative;
  z-index: 40;
  cursor:pointer;
  transition: all 0.4s ease-out;
  box-shadow: 0px 35px 77px -17px rgba(0,0,0,0.44);
  overflow:hidden;
  color:white;
  font-family:'Roboto';
  
}


.tile img
{
  height:100%;
  width:100%;
  position:absolute;
  top:0;
  left:0;
  z-index:0;
  transition: all 0.4s ease-out;
}
.tile .text
{
/*   z-index:99; */
  position:absolute;
  padding:30px;
  height:calc(100% - 60px);
}
.tile h1
{
 
  margin:0;
  text-shadow: 2px 2px 10px rgba(0,0,0,0.3);
}
.tile h2
{

  margin:20px 0 0 0;
  font-style:italic;
   transform: translateX(200px);
}
.tile p
{
  font-weight:300;
  margin:20px 0 0 0;
  line-height: 25px;
/*   opacity:0; */
  transform: translateX(-200px);
  transition-delay: 0.2s;
}
.animate-text
{
  opacity:0;
  transition: all 0.6s ease-in-out;
}
.tile:hover
{
/*   background-color:#99aeff; */
box-shadow: 0px 35px 77px -17px rgba(0,0,0,0.64);
  transform:scale(1.05);
}
.tile:hover img
{
  opacity: 0.2;
}
.tile:hover .animate-text
{
  transform:translateX(0);
  opacity:1;
}
.dots
{
  position:absolute;
  bottom:20px;
  right:30px;
  margin: 0 auto;
  width:30px;
  height:30px;
  color:currentColor;
  display:flex;
  flex-direction:column;
  align-items:center;
  justify-content:space-around;
  
}

.dots span
{
    width: 5px;
    height:5px;
    background-color: currentColor;
    border-radius: 50%;
    display:block;
  opacity:0;
  transition: transform 0.4s ease-out, opacity 0.5s ease;
  transform: translateY(30px);
 
}

.tile:hover span
{
  opacity:1;
  transform:translateY(0px);
}

.dots span:nth-child(1)
{
   transition-delay: 0.05s;
}
.dots span:nth-child(2)
{
   transition-delay: 0.1s;
}
.dots span:nth-child(3)
{
   transition-delay: 0.15s;
}


@media (max-width: 1000px) {
  .wrap {
   flex-direction: column;
    width:100%;
  }
}*/



/*smoke___________________________________________________________________________*/

.container {
  width:5px;
  height:5px;
  margin-left:auto;
  margin-right:auto;
  margin-top:100px;
  overflow: hidden;
}
#loader {
   background-image: rgba(235,235,235,1);
    background-image: -webkit-linear-gradient(top, #525252 0%,#000000 100%);
    background-image: -moz-linear-gradient(top, #525252 0%,#000000 100%);
    background-image: -o-linear-gradient(top, #525252 0%,#000000 100%);
    background-image: -ms-linear-gradient(top, #525252 0%,#000000 100%);
    background-image: linear-gradient(top, #525252 0%,#000000 100%);
    color: #fff;
    border-radius: 4px;
    padding: 4px;
    padding-left:100px;
  padding-right:100px;
  padding-top:20px;
  padding-bottom:20px;
    display: inline-block;
    -webkit-box-shadow: 0 0 5px red;
    box-shadow: 0 0 5px red;
    
    -moz-animation-name: glow;
    -moz-animation-duration: .8s;
    -moz-animation-iteration-count: infinite;
    -moz-animation-timing-function: linear;
    -moz-animation-direction: alternate;

    -webkit-animation-name: glow;
    -webkit-animation-duration: .8s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    -webkit-animation-direction: alternate;
}

@-moz-keyframes glow {
    from { box-shadow: 0 0 35px red; }
    to   { box-shadow: 0 0 60px yellow; }
}
@-webkit-keyframes glow {
    from { -webkit-box-shadow: 0 0 35px red; }
    to   { -webkit-box-shadow: 0 0 60px yellow; }
}
.strow {
  position: absolute;
  top: 18%;
  left: 40%;
  transform-style: preserve-3d;
  transform: rotateX(74deg) rotate(40deg) skew(-30deg);
  z-index:-1;
 
  
  
}

.strow2 {
  position: relative;
  top: 18%;
  left: 40%;
  transform-style: preserve-3d;
  transform: rotateX(74deg) rotate(40deg) skew(-30deg);
  z-index:-1;
  width: 60px;
}

.smoke:nth-child(1) {
  width: 1px;
  height: 200px;
  border-radius: 50%;
  box-shadow: 30px 30px 30px #fff, 30px 30px 30px red, 30px 30px 30px red;
  position: absolute;
  animation: smoke 2.5s ease-in-out infinite;
  animation-delay: -0.1s;
  margin-top: -10px;
  margin-left: 5px;
}

.smoke:nth-child(2) {
  width: 1px;
  height: 200px;
  border-radius: 50%;
  box-shadow: 30px 30px 30px #fff, 30px 30px 30px red, 30px 30px 30px red;
  position: absolute;
  animation: smoke 2.5s ease-in-out infinite;
  animation-delay: -0.2s;
  margin-top: -20px;
  margin-left: 10px;
}

.smoke:nth-child(3) {
  width: 1px;
  height: 200px;
  border-radius: 50%;
  box-shadow: 30px 30px 30px #fff, 30px 30px 30px red, 30px 30px 30px #fff;
  position: absolute;
  animation: smoke 2.5s ease-in-out infinite;
  animation-delay: -0.3s;
  margin-top: -30px;
  margin-left: 15px;
}

.smoke:nth-child(4) {
  width: 1px;
  height: 200px;
  border-radius: 50%;
  box-shadow: 30px 30px 30px #fff, 30px 30px 30px red, 30px 30px 30px #fff;
  position: absolute;
  animation: smoke 2.5s ease-in-out infinite;
  animation-delay: -0.4s;
  margin-top: -40px;
  margin-left: 20px;
}

.smoke:nth-child(5) {
  width: 1px;
  height: 200px;
  border-radius: 50%;
  box-shadow: 30px 30px 30px #fff, 30px 30px 30px red, 30px 30px 30px #fff;
  position: absolute;
  animation: smoke 2.5s ease-in-out infinite;
  animation-delay: -0.5s;
  margin-top: -50px;
  margin-left: 25px;
}

.smoke:nth-child(6) {
  width: 1px;
  height: 200px;
  border-radius: 50%;
  box-shadow: 30px 30px 30px #fff, 30px 30px 30px red, 30px 30px 30px #fff;
  position: absolute;
  animation: smoke 2.5s ease-in-out infinite;
  animation-delay: -0.6s;
  margin-top: -60px;
  margin-left: 30px;
}

.smoke:nth-child(7) {
  width: 1px;
  height: 200px;
  border-radius: 50%;
  box-shadow: 30px 30px 30px #fff, 30px 30px 30px red, 30px 30px 30px #fff;
  position: absolute;
  animation: smoke 2.5s ease-in-out infinite;
  animation-delay: -0.7s;
  margin-top: -70px;
  margin-left: 35px;
}

.smoke:nth-child(8) {
  width: 1px;
  height: 200px;
  border-radius: 50%;
  box-shadow: 30px 30px 30px #fff, 30px 30px 30px red, 30px 30px 30px #fff;
  position: absolute;
  animation: smoke 2.5s ease-in-out infinite;
  animation-delay: -0.8s;
  margin-top: -80px;
  margin-left: 40px;
}

.smoke:nth-child(9) {
  width: 1px;
  height: 200px;
  border-radius: 50%;
  box-shadow: 30px 30px 30px #fff, 30px 30px 30px red, 30px 30px 30px #fff;
  position: absolute;
  animation: smoke 2.5s ease-in-out infinite;
  animation-delay: -0.9s;
  margin-top: -90px;
  margin-left: 45px;
}

.smoke:nth-child(10) {
  width: 1px;
  height: 200px;
  border-radius: 50%;
  box-shadow: 30px 30px 30px #fff, 30px 30px 30px red, 30px 30px 30px #fff;
  position: absolute;
  animation: smoke 2.5s ease-in-out infinite;
  animation-delay: -1s;
  margin-top: -100px;
  margin-left: 50px;
}

.smoke:nth-child(11) {
  width: 1px;
  height: 200px;
  border-radius: 50%;
  box-shadow: 30px 30px 30px #fff, 30px 30px 30px red, 30px 30px 30px #fff;
  position: absolute;
  animation: smoke 2.5s ease-in-out infinite;
  animation-delay: -1.1s;
  margin-top: -110px;
  margin-left: 55px;
}

.smoke:nth-child(12) {
  width: 1px;
  height: 200px;
  border-radius: 50%;
  box-shadow: 30px 30px 30px #fff, 30px 30px 30px red, 30px 30px 30px #fff;
  position: absolute;
  animation: smoke 2.5s ease-in-out infinite;
  animation-delay: -1.2s;
  margin-top: -120px;
  margin-left: 60px;
}

.smoke:nth-child(13) {
  width: 1px;
  height: 200px;
  border-radius: 50%;
  box-shadow: 30px 30px 30px #fff, 30px 30px 30px  rgb(0, 47, 255), 30px 30px 30px #fff;
  position: absolute;
  animation: smoke 2.5s ease-in-out infinite;
  animation-delay: -1.3s;
  margin-top: -130px;
  margin-left: 65px;
}

.smoke:nth-child(14) {
  width: 1px;
  height: 200px;
  border-radius: 50%;
  box-shadow: 30px 30px 30px #fff, 30px 30px 30px  rgb(0, 47, 255), 30px 30px 30px #fff;
  position: absolute;
  animation: smoke 2.5s ease-in-out infinite;
  animation-delay: -1.4s;
  margin-top: -140px;
  margin-left: 70px;
}

.smoke:nth-child(15) {
  width: 1px;
  height: 200px;
  border-radius: 50%;
  box-shadow: 30px 30px 30px #fff, 30px 30px 30px  rgb(0, 47, 255), 30px 30px 30px #fff;
  position: absolute;
  animation: smoke 2.5s ease-in-out infinite;
  animation-delay: -1.5s;
  margin-top: -150px;
  margin-left: 75px;
}

.smoke:nth-child(16) {
  width: 1px;
  height: 200px;
  border-radius: 50%;
  box-shadow: 30px 30px 30px #fff, 30px 30px 30px  rgb(0, 47, 255), 30px 30px 30px #fff;
  position: absolute;
  animation: smoke 2.5s ease-in-out infinite;
  animation-delay: -1.6s;
  margin-top: -160px;
  margin-left: 80px;
}

.smoke:nth-child(17) {
  width: 1px;
  height: 200px;
  border-radius: 50%;
  box-shadow: 30px 30px 30px #fff, 30px 30px 30px rgb(0, 47, 255), 30px 30px 30px #fff;
  position: absolute;
  animation: smoke 2.5s ease-in-out infinite;
  animation-delay: -1.7s;
  margin-top: -170px;
  margin-left: 85px;
}

.smoke:nth-child(18) {
  width: 1px;
  height: 200px;
  border-radius: 50%;
  box-shadow: 30px 30px 30px #fff, 30px 30px 30px rgb(0, 47, 255), 30px 30px 30px #fff;
  position: absolute;
  animation: smoke 2.5s ease-in-out infinite;
  animation-delay: -1.8s;
  margin-top: -180px;
  margin-left: 90px;
}

.smoke:nth-child(19) {
  width: 1px;
  height: 200px;
  border-radius: 50%;
  box-shadow: 30px 30px 30px #fff, 30px 30px 30px rgb(25, 0, 255), 30px 30px 30px #fff;
  position: absolute;
  animation: smoke 2.5s ease-in-out infinite;
  animation-delay: -1.9s;
  margin-top: -190px;
  margin-left: 95px;
}

.smoke:nth-child(20) {
  width: 1px;
  height: 200px;
  border-radius: 50%;
  box-shadow: 30px 30px 30px #fff, 30px 30px 30px rgb(0, 47, 255) #fff;
  position: absolute;
  animation: smoke 2.5s ease-in-out infinite;
  animation-delay: -2s;
  margin-top: -200px;
  margin-left: 100px;
}

.smoke:nth-child(21) {
  width: 1px;
  height: 200px;
  border-radius: 50%;
  box-shadow: 30px 30px 30px #fff, 30px 30px 30px rgb(0, 47, 255) #fff;
  position: absolute;
  animation: smoke 2.5s ease-in-out infinite;
  animation-delay: -2.1s;
  margin-top: -210px;
  margin-left: 105px;
}

.smoke:nth-child(22) {
  width: 1px;
  height: 200px;
  border-radius: 50%;
  box-shadow: 30px 30px 30px #fff, 30px 30px 30px rgb(0, 47, 255) #fff;
  position: absolute;
  animation: smoke 2.5s ease-in-out infinite;
  animation-delay: -2.2s;
  margin-top: -220px;
  margin-left: 110px;
}

.smoke:nth-child(23) {
  width: 1px;
  height: 200px;
  border-radius: 50%;
  box-shadow: 30px 30px 30px #fff, 30px 30px 30px rgb(0, 47, 255) #fff;
  position: absolute;
  animation: smoke 2.5s ease-in-out infinite;
  animation-delay: -2.3s;
  margin-top: -230px;
  margin-left: 115px;
}

.smoke:nth-child(24) {
  width: 1px;
  height: 200px;
  border-radius: 50%;
  box-shadow: 30px 30px 30px #fff, 30px 30px 30px rgb(0, 47, 255) #fff;
  position: absolute;
  animation: smoke 2.5s ease-in-out infinite;
  animation-delay: -2.4s;
  margin-top: -240px;
  margin-left: 120px;
}

.smoke:nth-child(25) {
  width: 1px;
  height: 200px;
  border-radius: 50%;
  box-shadow: 30px 30px 30px #fff, 30px 30px 30px rgb(0, 47, 255) #fff;
  position: absolute;
  animation: smoke 2.5s ease-in-out infinite;
  animation-delay: -2.5s;
  margin-top: -250px;
  margin-left: 125px;
}

.smoke:nth-child(26) {
  width: 1px;
  height: 200px;
  border-radius: 50%;
  box-shadow: 30px 30px 30px #fff, 30px 30px 30px rgb(0, 47, 255) #fff;
  position: absolute;
  animation: smoke 2.5s ease-in-out infinite;
  animation-delay: -2.6s;
  margin-top: -260px;
  margin-left: 130px;
}

.smoke:nth-child(27) {
  width: 1px;
  height: 200px;
  border-radius: 50%;
  box-shadow: 30px 30px 30px #fff, 30px 30px 30px rgb(0, 47, 255) #fff;
  position: absolute;
  animation: smoke 2.5s ease-in-out infinite;
  animation-delay: -2.7s;
  margin-top: -270px;
  margin-left: 135px;
}

.smoke:nth-child(28) {
  width: 1px;
  height: 200px;
  border-radius: 50%;
  box-shadow: 30px 30px 30px #fff, 30px 30px 30px rgb(0, 47, 255), 30px 30px 30px #fff;
  position: absolute;
  animation: smoke 2.5s ease-in-out infinite;
  animation-delay: -2.8s;
  margin-top: -280px;
  margin-left: 140px;
}

.smoke:nth-child(29) {
  width: 1px;
  height: 200px;
  border-radius: 50%;
  box-shadow: 30px 30px 30px #fff, 30px 30px 30px red, 30px 30px 30px #fff;
  position: absolute;
  animation: smoke 2.5s ease-in-out infinite;
  animation-delay: -2.9s;
  margin-top: -290px;
  margin-left: 145px;
}

.smoke:nth-child(30) {
  width: 1px;
  height: 200px;
  border-radius: 50%;
  box-shadow: 30px 30px 30px #fff, 30px 30px 30px red, 30px 30px 30px #fff;
  position: absolute;
  animation: smoke 2.5s ease-in-out infinite;
  animation-delay: -3s;
  margin-top: -300px;
  margin-left: 150px;
}

@keyframes smoke {
  50% {
    transform: translateY(15px) translateX(-30px) translateZ(-30px) rotateX(15deg) rotate(15deg);
    box-shadow: 30px 30px 30px red, 30px 30px 30px #fff, 30px 30px 30px red;
  }
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.mySlides {
  margin-left: 40%;

}
.w3-button{
  position: absolute;
}

